:root {
    --text-light: #D9D9D9;
    --text: #BFBFBF;
    --text-dark: #888888;
    --text-darker: #555555;
    
    --background-lighter: #555555;
    --background-light: #404040;
    --background: #333333;
    --background-dark: #222222;
    --background-darker: #111111;

    --shadow: #22222266;
}