:root {
    --text-light: #777777;
    --text: #666666;
    --text-dark: #555555;
    --text-darker: #444444;

    --background-lighter: #eeeeee;
    --background-light: #dddddd;
    --background: #eeeeee;
    --background-dark: #cccccc;
    --background-darker: #b0b0b0;
    
    --shadow: #22222222;
}